.wrapper {
  position: relative;
  z-index: 5;
  /* height: 400px; */
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(0, 0, 0) 100%);
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  min-height: 310px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 20px 0 10px;
  border-left: 1px solid white;
  height: 250px;
  transition: ease-in-out 0.4s;
}
.buttons:hover {
  border-color: rgba(225, 255, 164, 0.705);
}
.buttons button {
  margin: 15px 25px;
  width: 100px;
  height: 50px;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Comic Neue', cursive;
  transition: ease-in-out 0.3s;
  border: 1px solid white;
  background: rgb(43, 43, 43);
  border-radius: 3px;
  color: white;
}
.buttons button:hover {
 box-shadow: 0 0 10px yellowgreen;
 transform: translateY(-5px);
}
/* info */
.contentWrapper {
  margin: 50px 0 0 0;
  width: 56vw;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.edu__card {
  background-color: rgb(22, 22, 22);
  margin: 10px;
  padding: 10px 10px 20px 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid yellowgreen;
  clip-path: polygon(0 7%, 0 0, 10% 0, 92% 0, 92% 15%, 100% 20%, 100% 93%, 92% 93%, 88% 100%, 18% 100%, 12% 95%, 0 95%);
}
.rsImg {
  position: absolute;
  width: 90px;
  z-index: -1;
  margin: 130px 0 0 -17px;
  transform: rotate(-25deg);
}
.title {
  font-size: 18px;
  color: yellowgreen;
}
.subtitle {
  color: rgb(167, 202, 96);
  font-size: 18px;
  margin: 10px 0;
}
.wrapper a {
  text-decoration: none;
  color: yellowgreen;
  margin-top: 40px;
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.15s;
}
.wrapper a img {
  width: 35px;
  height: 35px;
  top: -10px;
  right: 35px;
  position: absolute;
  transition: ease-in-out 0.15s;
  transform: rotate(30deg);
}
.wrapper a:hover {
  letter-spacing: 2px;
}
.wrapper a:hover img {
  transform: rotate(90deg);
}
/* free */

.freelance div:first-child {
  margin: 10px 0 20px 0;
  font-size: 18px;
  color: rgb(167, 202, 96);
}
.freelance div:last-child {
  line-height: 30px;
  color: rgb(236, 236, 236);
}
/*  */
.exoLink {
  font-size: 18px;
}
.exoLink a {
  font-size: 20px;
  color: rgb(179, 230, 77);
  letter-spacing: 1.5px;
  display: inline;
  margin: 0 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    font-weight: 600;
}
.exoLink a:hover {
  /* letter-spacing: normal; */
  letter-spacing: 1.5px;
  transform: scale(1.1);
}
.exoLink a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.exoLink a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
}
.description {
  padding: 10px 15px;
  
}
.date {
  margin: 15px 0;
}
.tech {
  margin: 15px 0 0 0;
  /* color: rgb(34, 34, 34); */
}