.wrapper {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgb(24, 24, 24) 0.5%, rgb(241, 241,241) 25%);
}
.titleWrapper {
  display: flex;
  justify-content: center;
  margin: 0px 0 20px 0;
  padding-top: 35px;
  cursor: default;
}
.titleLine {
  border-bottom: 2px solid rgba(0, 0, 0, 0.295);
  margin-top: 12px;
  width: 600px;
  position: absolute;
}
.title {
  z-index: 5;
  color: rgb(99, 99, 99);
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(241, 241, 241);
  height: 30px;
  padding: 0 10px;
}
.projectsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.viewBtn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  padding: 30px 0 40px 0;
}
.viewBtn__wrapper button {
  position: relative;
  padding: 12px 35px;
  background-color: rgb(8, 8, 8);
  box-shadow: 0 0 5px white;
  color: white;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.viewBtn__wrapper button:hover {
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px greenyellow;
  color: greenyellow;
}
.viewBtn__wrapper button::before {
  content: '';
  position: absolute;
  inset: 2px;
}
.viewBtn__wrapper button span {
  position: relative;
  z-index: 1;
}
.viewBtn__wrapper button i {
  position: absolute;
  inset: 0;
  display: block;
}
.viewBtn__wrapper button i::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  left: 80%;
  top: -4px;
  border: 2px solid rgba(172, 255, 47, 0.85);
  background-color: white;
  transform: translateX(-50%);
  transition: 0.4s;
}
.viewBtn__wrapper button:hover i::before {
  width: 20px;
  left: 20%;
}
.viewBtn__wrapper button i::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  left: 20%;
  bottom: -4px;
  border: 2px solid rgba(172, 255, 47, 0.85);
  background-color: white;
  transform: translateX(-50%);
  transition: 0.4s;
}
.viewBtn__wrapper button:hover i::after {
  width: 20px;
  left: 80%;
}