.mainWrapper {
  display: flex;
  padding-bottom: 35px;
  border-bottom: 2px solid rgb(199, 199, 199);
}
.mainImg {
  margin-top: 40px;
  border-radius: 50%;
  position: absolute;
  /* filter: brightness(1.2) saturate(2.3) grayscale(85%); */
  /* filter: brightness(1.25) saturate(2.4); */
  filter: grayscale(90%) brightness(1.25);
  left: -250px;
  width: 500px;
  height: 500px;
  z-index: 1;
}

.codeImg {
  filter: blur(0.8px);
  opacity: 0.5;
  z-index: -1;
  transform: rotate(-2.5deg);
  width: 350px;
  margin: 205px 0 0 76px;
}
