.wrapper {
  position: relative;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.imgBack {
  background-image: url('../assets/aboutBack.png');
  background-size: cover;
  position: absolute;
  height: 560px;
  width: 102%;
  z-index: -1;
  opacity: 0.35;
  left: -9px;
}
.back {
  position: absolute;
  height: 62%;
  min-width: 900px;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: -1;
  box-shadow: 0 0 160px black;
  left:50%;
  transform:translate(-50%);
}
.aboutWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text {
  margin: 15px 0 30px 30px;
  color: rgb(235, 235, 235);
  font-size: 18px;
  line-height: 1.5em;
}
.imgWrapper {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 400px;
  display: flex;
  margin: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px white;
}
.imgWrapper img {
  height: 400px;
  width: 350px; 
  transition: ease-in-out 3s;
  transform: translateX(-350px);
}
.img2{
  position: relative;
  z-index: 2;
}
.img3{
  position: relative;
  z-index: 3;
}
.titleWrapper {
  display: flex;
  justify-content: center;
  margin: 0px 0 20px 0;
  padding-top: 25px;
  cursor: default;
}
.titleLine1 {
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 12px;
  margin-left: -330px;
  width: 220px;
  position: absolute;
}
.titleLine2 {
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 12px;
  margin-right: -330px;
  width: 220px;
  position: absolute;
}

.title {
  z-index: 5;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
  height: 30px;
  padding: 0 10px;
}
.infoWrapper {
  width: 400px;
  cursor: default;
}
li {
  font-family: 'Comic Neue', cursive;
  color: rgb(214, 214, 214);
  margin: 6px 10px;
  font-size: 17px;
}